/Assets/EZAssets
/Assets/EZAssets.meta
/Assets/EZData
/Assets/EZData.meta
/Assets/EZLog
/Assets/EZLog.meta

/Assets/EZFramework/3rdParty/XLua/Gen
/Assets/EZFramework/3rdParty/XLua/Gen.meta

/Assets/_Temp
/Assets/_Temp.meta
/Assets/Resources
/Assets/Resources.meta
/Assets/Script_Lua_txt
/Assets/Script_Lua_txt.meta
/Assets/StreamingAssets
/Assets/StreamingAssets.meta

.svn

.vs
*.sln
*.csproj
*.luaproj
*.luaproj.user
*.userprefs
*.config

/Library
/obj
/ProjectSettings
/Temp



# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
