# VS/VSCode files
.vs/
*.sln
*.csproj
*.user
*.userprefs
*.config
*.code-workspace

# Unity3D
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UnityPackageManager/

# EZUnity
EZPersistent/
EZScreenshots/

# XLua
LuaDebuggee.dll
Assets/.lpproj/
Assets/ThirdParty/
Assets/ThirdParty.meta
Assets/XLua/Gen/
Assets/XLua/Gen.meta

# Others
Assets/_Temp*
Assets/EZhex1991/EZAnimation
Assets/EZhex1991/EZAnimation.meta
Assets/EZhex1991/EZPostProcessing
Assets/EZhex1991/EZPostProcessing.meta
Assets/EZhex1991/EZSoftBone
Assets/EZhex1991/EZSoftBone.meta
Assets/EZhex1991/EZTextureProcessor
Assets/EZhex1991/EZTextureProcessor.meta
Assets/AssetStoreTools
Assets/AssetStoreTools.meta

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ProjectSettings/UPRSettings.asset
